
.container {
    /* max-width: 990px;*/
     background-color: whitesmoke;
     padding: 20px 10px;
     display: flex;
     overflow-x: scroll;
     width: 100%;
     margin: 3 0 3em 0;
    
     
   }
   .detailsImg{

    object-fit: contain;
   }

   .row-product{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
   

   

   }